html,
body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a,
a:hover,
a:visited {
  color: #00B7FF;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: #00B7FF;
}
.top {
  position: absolute;
  top: 0;
  width: 100%;
}
.fixed {
  position: fixed;
}
header {
  background-color: #fff;
}
header > * {
  display: inline-block;
}
header.fixed {
  font-size: 22px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
header.top h1 {
  margin: 0 0 0 1em;
}
nav.right {
  float: right;
  margin-top: 1em;
  margin-right: 1em;
  padding-bottom: 0.35em;
}
nav a {
  font-size: 17px;
  padding: 0.5em;
}

#dynamic-body {
  margin-top: 8em;
  padding-left: 3em;
}

.resident {
  list-style: none;
  width: 80%;
  max-width: 24em;
  margin: 1em 0;
  padding: 1em 2em;
  border-radius: 3em;
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.025);
}

.resident .remove {
  float: right;
}

.new-resident-form {
  width: 24em;
  list-style: none;
}

.new-resident-form > * {
  float: right;
}

.text-input-area .label,
.text-input-area input {
  display: inline-block;
  font-size: 16px;
  margin: 1em auto;
}

.text-input-area input {
  margin-left: 2em;
}

.button {
  display: inline-block;
  font-size: 22px;
  padding: 1em 2em;
  margin: 0.5em;
  color: #fff;
  background-color: #00B7FF;
  cursor: pointer;
}